{% extends 'dashboard/base.html' %}
{% load static %}

{% block contents %}
<div class="text-center container">
    <h2>Search YouTube Videos</h2>
    <p>Just enter the search query to get the results</p><b>Enter without any space</b>

    <form action="{% url 'youtube' %}" method="POST" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-danger mt-2" value="Submit">
    </form>

    <br>

    {% if results %}
        <h3 class="mt-5">Results for: {{ input }}</h3>

        <div class="row mt-4">
            {% for result in results %}
            <div class="col-md-6 mb-4">
                <a href="{{ result.link }}" target="_blank" class="text-decoration-none text-dark">
                    <div class="card h-100">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ result.thumbnail }}" class="img-fluid rounded-start" alt="Thumbnail for {{ result.title }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ result.title }}</h5>
                                    <p class="card-text">
                                        <strong>Channel:</strong> {{ result.channel }}<br>
                                        <strong>Description:</strong> {{ result.description }}<br>
                                        <strong>Duration:</strong> {{ result.duration }}<br>
                                        <strong>Views:</strong> {{ result.views }}<br>
                                        <strong>Published:</strong> {{ result.published }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
